.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 486px;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
.mainbutton {
  width: 436px;
  height: 50px;
  color: #000000;
  text-align: center;
  background: none;
  flex-shrink: 0;
  padding: 0px 31px 0px 0px;
  margin: 0px;
  border: 2px solid #ff9a00;
}
.mainbutton__installmm {
  color: #dd751a;
  padding-right: 66px;
  padding-left: 16px;
  border-color: #dd751a;
}
.mainbutton__connectmm {
  padding-right: 38px;
  color: #dd751a;
  border-color: #dd751a;
}
.mainbutton__sendtxn {
  color: #000000;
  padding-right: 54px;
  border-color: #000000;
}
.mainbutton__processing {
  background: #fcfcfa;
  padding-right: 89px;
  border-color: #fcfcfa;
}
.mainbutton__success {
  background: #25e723;
  color: #ffffff;
  padding-right: 53px;
  border-color: #25e723;
}
.mainbutton__failed {
  background: #df2626;
  color: #ffffff;
  padding-right: 58px;
  border-color: #df2626;
}
.mainbutton__sendtxnconsent {
  color: #000000;
  padding-right: 44px;
  border-color: #000000;
}
.root .mainbutton:hover {
  background: #dd751a;
  color: #ffffff;
}
.root__installmm .mainbutton__installmm:hover {
  background: #ff9a00;
  border-color: #dd751a;
}
.root__connectmm .mainbutton__connectmm:hover {
  background: #dd751a;
}
.root__sendtxn .mainbutton__sendtxn:hover {
  background: #000000;
}
.root__processing .mainbutton__processing:hover {
  background: #fcfcfa;
  color: #000000;
}
.root__success .mainbutton__success:hover {
  background: #25e723;
  border-color: #25e723;
}
.root__failed .mainbutton__failed:hover {
  background: #df2626;
  border-color: #df2626;
}
.root__sendtxnconsent .mainbutton__sendtxnconsent:hover {
  background: #000000;
}
.img___4PNmP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  margin-left: -146px;
  width: 53px;
  flex-shrink: 0;
  display: none !important;
}
.img___4PNmP > picture > img {
  object-fit: cover;
}
.img___4PNmP > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__failed___4PNmPocDdJ {
  display: inline-block !important;
}
.img___6BiMu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 94px;
  height: 50px;
  flex-shrink: 0;
  display: none !important;
  margin: -69px 0px -69px -150px;
}
.img___6BiMu > picture > img {
  object-fit: cover;
}
.img___6BiMu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__success___6BiMukPrSc {
  display: inline-block !important;
}
.img__rfRzo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 38px;
  margin-left: -156px;
  display: none !important;
}
.img__rfRzo > picture > img {
  object-fit: cover;
}
.img__rfRzo > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__sendtxn__rfRzoQfRAj {
  margin-left: -137px;
  display: inline-block !important;
}
.img__sendtxnconsent__rfRzoLjVjA {
  margin-left: -135px;
  display: inline-block !important;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 41px;
  height: 28px;
  color: #ffffff;
  margin-left: -165px;
  flex-shrink: 0;
}
.svg__installmm {
  margin-left: -172px;
}
.svg__connectmm {
  margin-left: -127px;
}
.svg__sendtxn {
  display: none;
}
.svg__success {
  display: none;
}
.svg__failed {
  display: none;
}
.svg__sendtxnconsent {
  display: none;
}
.img___3Qsg6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  width: 142px;
  margin-left: -175px;
  flex-shrink: 0;
  display: none !important;
}
.img___3Qsg6 > picture > img {
  object-fit: cover;
}
.img___3Qsg6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__processing___3Qsg6Pdh5H {
  display: inline-block !important;
}
.freeBox___4NAoc {
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 45px;
  top: 59px;
  display: none;
  padding: 0px;
}
.freeBox__success___4NAockPrSc {
  display: flex;
}
.text__rSbH {
  position: relative;
  height: auto;
  max-width: 775px;
  left: auto;
  top: auto;
  font-size: 10px;
  font-weight: 800;
  display: none;
}
.text__success__rSbHKPrSc {
  left: auto;
  top: auto;
  display: block;
}
.freeBox__ltjiy {
  position: relative;
  width: 388px;
  height: auto;
  max-width: 388px;
  margin-left: 6px;
  margin-top: 0px;
  flex-direction: row;
  min-width: 388px;
  flex-shrink: 0;
  display: none;
}
.freeBox__success__ltjiykPrSc {
  display: flex;
}
.slotTargetHash {
  font-size: 10px;
  color: #ec0000;
}
.copybutton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.copybutton__success {
  display: flex;
}
.copyimage {
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  display: inline-block !important;
}
.copyimage > picture > img {
  object-fit: cover;
}
.copyimage > .__wab_img-spacer > img {
  object-fit: cover;
}
.installmetamasktext {
  position: absolute;
  height: auto;
  max-width: 800px;
  left: 272px;
  top: 59px;
  text-align: right;
  text-decoration-line: underline;
  color: #dd751a;
  margin-left: 0px;
  width: 231px;
  font-size: 12px;
  flex-shrink: 0;
  display: none;
}
.installmetamasktext__connectmm {
  display: block;
}
.text__dvzO3 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  left: 158px;
  top: 62px;
  text-align: center;
  color: #f73b3b;
  font-weight: 700;
  font-size: 13px;
  font-style: italic;
  display: none;
}
.text__sendtxnconsent__dvzO3LjVjA {
  display: block;
}
.freeBox___6TZiY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  plasmic-display-none: false;
  min-width: 0;
  padding: 8px;
}
.freeBox___6TZiY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__installmm___6TZiYvXuOp {
  display: none;
}
.freeBox__connectmm___6TZiYsqZmt {
  display: none;
}
.freeBox__sendtxn___6TZiYQfRAj {
  display: none;
}
.freeBox__processing___6TZiYPdh5H {
  display: none;
}
.freeBox__success___6TZiYkPrSc {
  position: absolute;
  top: 91px;
  left: 184px;
  width: auto;
  display: flex;
  padding: 0px;
}
.freeBox__success___6TZiYkPrSc > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
}
.freeBox__failed___6TZiYocDdJ {
  width: auto;
  max-width: 100%;
  flex-direction: row;
  height: auto;
  align-self: flex-end;
  position: absolute;
  left: 201px;
  top: 75px;
  display: flex;
  padding: 0px;
}
.freeBox__failed___6TZiYocDdJ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__failed___6TZiYocDdJ > :global(.__wab_flex-container) > *,
.freeBox__failed___6TZiYocDdJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__failed___6TZiYocDdJ > :global(.__wab_flex-container) > picture > img,
.freeBox__failed___6TZiYocDdJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.freeBox__sendtxnconsent___6TZiYljVjA {
  display: none;
}
.text__yLeFm {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__installmm__yLeFMvXuOp {
  display: none;
}
.text__connectmm__yLeFmsqZmt {
  display: none;
}
.text__sendtxn__yLeFmQfRAj {
  display: none;
}
.text__processing__yLeFmPdh5H {
  display: none;
}
.text__success__yLeFMkPrSc {
  text-align: center;
  width: 110px;
  min-width: 110px;
  max-width: 110px;
  height: auto;
  flex-shrink: 0;
}
.text__failed__yLeFMocDdJ {
  width: 110px;
  height: auto;
  min-width: 110px;
  max-width: 110px;
  text-align: center;
  flex-shrink: 0;
  display: block;
}
.text__sendtxnconsent__yLeFmljVjA {
  display: none;
}
.freeBox__gtmo0 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__success__gtmo0KPrSc {
  width: 13px;
  max-width: 13px;
  height: auto;
  min-width: 13px;
  justify-content: center;
  flex-shrink: 0;
}
.freeBox__failed__gtmo0OcDdJ {
  display: flex;
}
.slotTargetTimer__success {
  text-align: center;
}
.text__re9Xq {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__success__re9XQkPrSc {
  text-align: center;
  width: 82px;
  min-width: 82px;
  max-width: 82px;
  flex-shrink: 0;
}
.text__failed__re9XQocDdJ {
  width: 82px;
  height: auto;
  min-width: 82px;
  max-width: 82px;
  text-align: center;
  flex-shrink: 0;
  display: block;
}
