.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rootinstallmm {
  justify-content: center;
  align-items: center;
}
.rootconnectmm {
  justify-content: center;
  align-items: center;
}
.rootsendtxn {
  justify-content: center;
  align-items: center;
}
.rootprocessing {
  justify-content: center;
  align-items: center;
}
.rootsuccess {
  justify-content: center;
  align-items: center;
}
.rootfailed {
  width: auto;
  display: flex;
}
.rootsendtxnconsent {
  justify-content: center;
  align-items: center;
}
.rootsalesorder {
  justify-content: center;
  align-items: center;
}
.freeBox__zgSr8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 486px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBoxsendtxnso__zgSr8CK3Fg {
  padding-left: 90px;
}
.freeBoxinvoice__zgSr8MXQyB {
  padding: 0px 0px 0px 90px;
}
.freeBoxsendtxnconsentinv__zgSr8N0H5 {
  padding-left: 90px;
}
.freeBoxsendtxninv__zgSr8WqMv {
  padding-left: 90px;
}
.freeBoxlogistics__zgSr8KbJf2 {
  padding: 0px 0px 0px 90px;
}
.freeBoxsendtxnconsentlog__zgSr89Uo71 {
  padding-left: 90px;
}
.freeBoxsendtxnlog__zgSr8Achdx {
  padding-left: 90px;
}
.freeBoxfailed__zgSr8OcDdJ {
  width: auto;
  max-width: none;
  height: auto;
  align-items: flex-start;
  justify-content: center;
  margin: 0px;
}
.freeBoxsalesorder__zgSr8AwkTr {
  padding: 0px 0px 0px 90px;
}
.freeBoxsendtxnconsentso__zgSr8EknV0 {
  padding-left: 90px;
}
.mainbutton {
  width: 436px;
  height: 50px;
  color: #000000;
  text-align: center;
  background: none;
  flex-shrink: 0;
  padding: 0px 31px 0px 0px;
  margin: 0px;
  border: 2px solid #ff9a00;
}
.mainbuttoninstallmm {
  color: #dd751a;
  padding-right: 66px;
  padding-left: 16px;
  border-color: #dd751a;
}
.mainbuttonsendtxnso {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.mainbuttoninvoice {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.mainbuttonsendtxnconsentinv {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.mainbuttonsendtxninv {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.mainbuttonlogistics {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.mainbuttonsendtxnconsentlog {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.mainbuttonsendtxnlog {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.mainbuttonconnectmm {
  padding-right: 38px;
  color: #dd751a;
  border-color: #dd751a;
}
.mainbuttonsendtxn {
  color: #000000;
  padding-right: 54px;
  border-color: #000000;
}
.mainbuttonprocessing {
  background: #fcfcfa;
  padding-right: 89px;
  border-color: #fcfcfa;
}
.mainbuttonsuccess {
  background: #25e723;
  color: #ffffff;
  padding-right: 53px;
  border-color: #25e723;
}
.mainbuttonfailed {
  background: #df2626;
  color: #ffffff;
  padding-right: 58px;
  margin: 0px;
  border-color: #df2626;
}
.mainbuttonsendtxnconsent {
  color: #000000;
  padding-right: 44px;
  border-color: #000000;
}
.mainbuttonsalesorder {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.mainbuttonsendtxnconsentso {
  color: #000000;
  padding: 0px;
  border-color: #000000;
}
.root .mainbutton:hover {
  background: #dd751a;
  color: #ffffff;
}
.rootinstallmm .mainbuttoninstallmm:hover {
  background: #ff9a00;
  border-color: #dd751a;
}
.rootsendtxnso .mainbuttonsendtxnso:hover {
  background: #000000;
}
.rootinvoice .mainbuttoninvoice:hover {
  background: #000000;
}
.rootsendtxnconsentinv .mainbuttonsendtxnconsentinv:hover {
  background: #000000;
}
.rootsendtxninv .mainbuttonsendtxninv:hover {
  background: #000000;
}
.rootlogistics .mainbuttonlogistics:hover {
  background: #000000;
}
.rootsendtxnconsentlog .mainbuttonsendtxnconsentlog:hover {
  background: #000000;
}
.rootsendtxnlog .mainbuttonsendtxnlog:hover {
  background: #000000;
}
.rootconnectmm .mainbuttonconnectmm:hover {
  background: #dd751a;
}
.rootsendtxn .mainbuttonsendtxn:hover {
  background: #000000;
}
.rootprocessing .mainbuttonprocessing:hover {
  background: #fcfcfa;
  color: #000000;
}
.rootsuccess .mainbuttonsuccess:hover {
  background: #25e723;
  border-color: #25e723;
}
.rootfailed .mainbuttonfailed:hover {
  background: #df2626;
  border-color: #df2626;
}
.rootsendtxnconsent .mainbuttonsendtxnconsent:hover {
  background: #000000;
}
.rootsalesorder .mainbuttonsalesorder:hover {
  background: #000000;
}
.rootsendtxnconsentso .mainbuttonsendtxnconsentso:hover {
  background: #000000;
}
.img___4PNmP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  margin-left: -146px;
  width: 53px;
  flex-shrink: 0;
  display: none !important;
}
.img___4PNmP > picture > img {
  object-fit: cover;
}
.img___4PNmP > .__wab_img-spacer > img {
  object-fit: cover;
}
.imgfailed___4PNmPocDdJ {
  display: inline-block !important;
}
.img___6BiMu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 94px;
  height: 50px;
  flex-shrink: 0;
  display: none !important;
  margin: -69px 0px -69px -150px;
}
.img___6BiMu > picture > img {
  object-fit: cover;
}
.img___6BiMu > .__wab_img-spacer > img {
  object-fit: cover;
}
.imgsuccess___6BiMukPrSc {
  display: inline-block !important;
}
.img__rfRzo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 38px;
  margin-left: -156px;
  display: none !important;
}
.img__rfRzo > picture > img {
  object-fit: cover;
}
.img__rfRzo > .__wab_img-spacer > img {
  object-fit: cover;
}
.imgsendtxnso__rfRzocK3Fg {
  margin-left: -135px;
}
.imginvoice__rfRzomXQyB {
  margin-left: -137px;
}
.imgsendtxnconsentinv__rfRzoN0H5 {
  margin-left: -135px;
}
.imgsendtxninv__rfRzowqMv {
  margin-left: -135px;
}
.imglogistics__rfRzokbJf2 {
  margin-left: -137px;
}
.imgsendtxnconsentlog__rfRzo9Uo71 {
  margin-left: -135px;
}
.imgsendtxnlog__rfRzoAchdx {
  margin-left: -135px;
}
.imgsendtxn__rfRzoQfRAj {
  margin-left: -137px;
  display: inline-block !important;
}
.imgsendtxnconsent__rfRzoLjVjA {
  margin-left: -135px;
  display: inline-block !important;
}
.imgsalesorder__rfRzoAwkTr {
  margin-left: -137px;
}
.imgsendtxnconsentso__rfRzoEknV0 {
  margin-left: -135px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 41px;
  height: 28px;
  color: #ffffff;
  margin-left: -165px;
  flex-shrink: 0;
}
.svginstallmm {
  margin-left: -172px;
}
.svgsendtxnso {
  display: none;
}
.svginvoice {
  display: none;
}
.svgsendtxnconsentinv {
  display: none;
}
.svgsendtxninv {
  display: none;
}
.svglogistics {
  display: none;
}
.svgsendtxnconsentlog {
  display: none;
}
.svgsendtxnlog {
  display: none;
}
.svgconnectmm {
  margin-left: -127px;
}
.svgsendtxn {
  display: none;
}
.svgsuccess {
  display: none;
}
.svgfailed {
  display: none;
}
.svgsendtxnconsent {
  display: none;
}
.svgsalesorder {
  display: none;
}
.svgsendtxnconsentso {
  display: none;
}
.img___3Qsg6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  width: 142px;
  margin-left: -175px;
  flex-shrink: 0;
  display: none !important;
}
.img___3Qsg6 > picture > img {
  object-fit: cover;
}
.img___3Qsg6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.imgprocessing___3Qsg6Pdh5H {
  display: inline-block !important;
}
.freeBox___4NAoc {
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 45px;
  top: 59px;
  display: none;
  padding: 0px;
}
.freeBoxsuccess___4NAockPrSc {
  display: flex;
}
.text__rSbH {
  position: relative;
  height: auto;
  max-width: 775px;
  left: auto;
  top: auto;
  font-size: 10px;
  font-weight: 800;
  display: none;
}
.textsuccess__rSbHKPrSc {
  left: auto;
  top: auto;
  display: block;
}
.freeBox__ltjiy {
  position: relative;
  width: 388px;
  height: auto;
  max-width: 388px;
  margin-left: 6px;
  margin-top: 0px;
  flex-direction: row;
  min-width: 388px;
  flex-shrink: 0;
  display: none;
}
.freeBoxsuccess__ltjiykPrSc {
  display: flex;
}
.slotTargetHash {
  font-size: 10px;
  color: #ec0000;
}
.copybutton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.copybuttonsuccess {
  display: flex;
}
.copyimage {
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  display: inline-block !important;
}
.copyimage > picture > img {
  object-fit: cover;
}
.copyimage > .__wab_img-spacer > img {
  object-fit: cover;
}
.installmetamasktext {
  position: absolute;
  height: auto;
  max-width: 800px;
  left: 272px;
  top: 59px;
  text-align: right;
  text-decoration-line: underline;
  color: #dd751a;
  margin-left: 0px;
  width: 231px;
  font-size: 12px;
  flex-shrink: 0;
  display: none;
}
.installmetamasktextconnectmm {
  display: block;
}
.text__dvzO3 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  left: 158px;
  top: 62px;
  text-align: center;
  color: #f73b3b;
  font-weight: 700;
  font-size: 13px;
  font-style: italic;
  display: none;
}
.textsendtxnso__dvzO3CK3Fg {
  left: 110px;
}
.textsendtxnconsentinv__dvzO3N0H5 {
  left: 110px;
  display: block;
}
.textsendtxninv__dvzO3WqMv {
  left: 110px;
}
.textsendtxnconsentlog__dvzO39Uo71 {
  left: 110px;
  display: block;
}
.textsendtxnlog__dvzO3Achdx {
  left: 110px;
}
.textsendtxnconsent__dvzO3LjVjA {
  display: block;
}
.textsendtxnconsentso__dvzO3EknV0 {
  left: 110px;
  display: block;
}
.freeBox__e2Mwu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxfailed__e2MwuocDdJ {
  width: 220px;
  justify-content: space-between;
  max-width: 170px;
  min-width: 220px;
  align-self: auto;
  margin-left: 114px;
  display: flex;
  padding: 0px;
}
.text__pnd4N {
  width: auto;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  display: none;
}
.textfailed__pnd4NocDdJ {
  display: block;
}
.freeBox__xph6F {
  plasmic-display-none: true;
  width: auto;
  height: auto;
  max-width: 800px;
  flex-direction: row;
}
.freeBoxfailed__xph6FocDdJ {
  display: flex;
}
.text__jSn1 {
  plasmic-display-none: true;
  width: auto;
  height: auto;
  max-width: 800px;
}
.textfailed__jSn1OcDdJ {
  display: block;
}
