.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.text__rvGhJ {
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  background: #e0e0e0;
  min-width: 0;
}
.applicationForm {
  background: rgba(255, 255, 255, 1);
  width: 1388px;
  height: 594px;
  display: block;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox__sZeKg {
  top: 65px;
  left: 46px;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 1249px;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: none;
}
.freeBox__sZeKg > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__sZeKg > :global(.__wab_flex-container) > *,
.freeBox__sZeKg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sZeKg > :global(.__wab_flex-container) > picture > img,
.freeBox__sZeKg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__cVo1U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 723px;
  height: auto;
  max-width: 723%;
  min-width: 723px;
  border-left-style: none;
  border-left-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 0px;
}
.freeBox___2WHb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #15b2b8;
  min-width: 0;
  padding: 10px 0px 5px;
}
.freeBox__cmAFf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__jmZkw {
  width: 100%;
  height: auto;
  padding-left: 10px;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  max-width: 68px;
  min-width: 0;
  margin: 0px 0px -9px;
}
.supplier {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  background: none;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  padding: 0px;
}
.slotTargetCha {
  font-weight: 700;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 25px;
}
.freeBox__qWbj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text__ib63L {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__fhHvl {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.shipmentmode {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetFfname {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox__jgKfu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__ww8Ia {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__j52Gy {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  flex-shrink: 0;
}
.origincountry {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetEntryno {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox___7KLmA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text__dxTdf {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text___8TH {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.sap {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetEntrydate {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox__kxKlR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__awVh4 {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text___3Fs4E {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  flex-shrink: 0;
}
.grn {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetDutyamount {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox__mjwvh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text__soeo {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__ystD {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.creditnotevalue {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetHts {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox__sX5S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__mVdaU {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__lcrdT {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.creditnotevalue2 {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetTfamount {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox__vRQl3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text___2UaC8 {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__kYtkG {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.creditnotevalue3 {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetNtfamount {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox___0I7Ls {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__pOdGn {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text___1Omb6 {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.creditnotevalue4 {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetTchaamount {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox__upXrc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: none;
  border-bottom-width: 1px;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text__pDmc1 {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__sJx2T {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.creditnotevalue5 {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetNtchaamount {
  font-weight: 400;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
.freeBox__i2QLc {
  width: 723px;
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__i2QLc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 219px);
  width: calc(100% + 219px);
}
.freeBox__i2QLc > :global(.__wab_flex-container) > *,
.freeBox__i2QLc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i2QLc > :global(.__wab_flex-container) > picture > img,
.freeBox__i2QLc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 219px;
}
.text__sfGY {
  margin-left: calc(61px + 219px) !important;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: 18px;
  display: none;
}
.text__aAnoN {
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 17px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 500;
  display: none;
}
.consent:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(28px + 0px) !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.freeBox__kedwj {
  width: 723px;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__kedwj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 219px);
  width: calc(100% + 219px);
}
.freeBox__kedwj > :global(.__wab_flex-container) > *,
.freeBox__kedwj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kedwj > :global(.__wab_flex-container) > picture > img,
.freeBox__kedwj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 219px;
}
.text__duVvN {
  margin-left: calc(61px + 219px) !important;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: 18px;
}
.text___65FKk {
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 17px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__kGhwE {
  width: 723px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
}
.freeBox__kGhwE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 608px);
  width: calc(100% + 608px);
}
.freeBox__kGhwE > :global(.__wab_flex-container) > *,
.freeBox__kGhwE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kGhwE > :global(.__wab_flex-container) > picture > img,
.freeBox__kGhwE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 608px;
}
.text__cnHle {
  margin-left: calc(94px + 608px) !important;
  max-width: 274px;
  min-width: 274px;
  width: 259px;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 14px;
  height: auto;
  flex-shrink: 0;
}
.text___2Ds3G {
  margin-left: calc(-565px + 608px) !important;
  width: 274px;
  min-width: 274px;
  max-width: 274px;
  padding-right: 14px;
  position: relative;
  height: auto;
  flex-shrink: 0;
}
.freeBox___5OL50 {
  width: 723px;
  max-width: none;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  flex-direction: row;
  height: auto;
  display: none;
  padding: 0px;
}
.freeBox___5OL50 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
}
.freeBox___5OL50 > :global(.__wab_flex-container) > *,
.freeBox___5OL50 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5OL50 > :global(.__wab_flex-container) > picture > img,
.freeBox___5OL50
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
}
.freeBox__suClo {
  width: 366px;
  max-width: 366px;
  min-width: 366px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  flex-shrink: 0;
  padding: 0px;
}
.text__xZj3L {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-left: 29px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__fGebm {
  margin-left: 59px;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__fGebm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__fGebm > :global(.__wab_flex-container) > *,
.freeBox__fGebm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fGebm > :global(.__wab_flex-container) > picture > img,
.freeBox__fGebm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__hS9Fp {
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__ooEfb {
  max-width: 220px;
  min-width: 220px;
  width: 220px;
  height: auto;
  flex-shrink: 0;
}
.freeBox___6ABmc {
  border-left-style: solid;
  border-left-width: 1px;
  width: 353px;
  min-width: 353px;
  max-width: 353px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  flex-shrink: 0;
  padding: 0px;
}
.text__deKgz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-left: 29px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__pJpW {
  margin-left: 59px;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__pJpW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__pJpW > :global(.__wab_flex-container) > *,
.freeBox__pJpW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pJpW > :global(.__wab_flex-container) > picture > img,
.freeBox__pJpW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__xaJrX {
  min-width: 220px;
  max-width: 220px;
  width: 220px;
  height: auto;
  flex-shrink: 0;
}
.freeBox__veZZc {
  justify-content: center;
  align-items: center;
  width: 723px;
  min-width: 723px;
  max-width: 723%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  position: relative;
  flex-direction: column;
  height: auto;
  display: none;
  padding: 0px;
}
.freeBox___3Pqjr {
  max-width: none;
  width: auto;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  background: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text__mYu1 {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__n9OCo {
  max-width: none;
  width: 97px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__q3Xqh {
  max-width: none;
  width: 284px;
  border-right-style: solid;
  border-right-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__wBwkB {
  max-width: none;
  width: 66px;
  border-right-style: none;
  border-right-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__kiLx {
  max-width: none;
  width: 104px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
  border-width: 1px;
}
.text__pVrv7 {
  max-width: none;
  width: 110px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.freeBox___7LH2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__m86Ri {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.text___4MdnN {
  font-size: 14px;
  border-right-style: none;
  border-right-width: 1px;
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__tjzht {
  width: 97px;
  height: auto;
  max-width: 97px;
  text-align: center;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  min-width: 97px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text__pE0L2 {
  max-width: 284px;
  width: 284px;
  height: auto;
  text-align: center;
  padding-right: 8px;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  min-width: 284px;
  position: relative;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
  border-width: 1px;
}
.text__uywDy {
  width: 66px;
  height: auto;
  max-width: 66px;
  text-align: center;
  font-size: 14px;
  min-width: 66px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
  border-style: none;
}
.text__lz3Jh {
  width: 104px;
  height: auto;
  max-width: 104px;
  text-align: center;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  min-width: 104px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text__xf80A {
  width: 110px;
  height: auto;
  max-width: 110px;
  text-align: center;
  font-size: 14px;
  min-width: 110px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__aliwo {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__juqV {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__gNVui {
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__pP3Ns {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__frvVd {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__p50W {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__spTro {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__k1JmT {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__g2ZJp {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__mvPc2 {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__du4G4 {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__maIve {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__tpIuy {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__aBiCg {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__rOqnr {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__aVsJz {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__of1FX {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__uoL5N {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__d9Y5N {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__hPh7A {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__azl7T {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__vgopK {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__vgopK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__vgopK > :global(.__wab_flex-container) > *,
.freeBox__vgopK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vgopK > :global(.__wab_flex-container) > picture > img,
.freeBox__vgopK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__sgYuc {
  width: 723px;
  min-width: 723px;
  max-width: 723px;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  padding: 0px 5px 0px 0px;
}
.freeBox__sgYuc > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__sgYuc > :global(.__wab_flex-container) > *,
.freeBox__sgYuc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sgYuc > :global(.__wab_flex-container) > picture > img,
.freeBox__sgYuc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__np1Ih {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.text__in5Rf {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__qOrvG {
  width: 723px;
  height: auto;
  min-width: 723px;
  max-width: 723px;
  flex-direction: row;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  position: relative;
  padding: 0px 5px 0px 0px;
}
.freeBox__qOrvG > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__qOrvG > :global(.__wab_flex-container) > *,
.freeBox__qOrvG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qOrvG > :global(.__wab_flex-container) > picture > img,
.freeBox__qOrvG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.text__uSsiX {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.text__kqLfc {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__odqZw {
  width: 723px;
  height: auto;
  min-width: 723px;
  max-width: 723px;
  flex-direction: row;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  position: relative;
  padding: 0px 5px 0px 0px;
}
.freeBox__odqZw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__odqZw > :global(.__wab_flex-container) > *,
.freeBox__odqZw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__odqZw > :global(.__wab_flex-container) > picture > img,
.freeBox__odqZw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.text__f8Ahk {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.text__wAk0Q {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.formbutton:global(.__wab_instance) {
  left: auto;
  top: auto;
  margin-left: -145px;
  margin-top: calc(27px + 0px) !important;
  position: relative;
  align-self: auto;
}
.text__tDcVd {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: 293px;
  top: 214px;
  text-align: center;
  font-size: 50px;
  min-width: 0;
  display: none;
}
.textloading__tDcVDqCclm {
  font-family: "Open Sans", sans-serif;
  display: block;
}
.textnotfound__tDcVdoNFd {
  font-family: "Open Sans", sans-serif;
  display: block;
}
.textconfirmed__tDcVd3JYSs {
  font-family: "Open Sans", sans-serif;
  display: block;
}
