.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.text__aA2Ts {
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Inria Sans", sans-serif;
  background: #e4dada;
  min-width: 0;
}
.applicationForm {
  background: rgba(255, 255, 255, 1);
  width: 1388px;
  height: 594px;
  display: block;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox__zc9Bi {
  top: -3px;
  left: 46px;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 1249px;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: none;
}
.freeBox__zc9Bi > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__zc9Bi > :global(.__wab_flex-container) > *,
.freeBox__zc9Bi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zc9Bi > :global(.__wab_flex-container) > picture > img,
.freeBox__zc9Bi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__qyEcn {
  align-items: center;
  justify-content: flex-start;
  width: 723px;
  align-self: auto;
  margin-top: calc(22px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-style: solid;
  border-left-width: 1px;
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___0DfbY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 21px;
}
.text__bPzdx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
}
.freeBox__pa1Qx {
  margin-top: -7px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uJlia {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 700;
}
.freeBox__dD6H {
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  position: relative;
  width: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetInvoiceno {
  font-size: 24px;
  font-weight: 700;
}
.freeBox__bozuU {
  width: 723px;
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__bozuU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 219px);
  width: calc(100% + 219px);
}
.freeBox__bozuU > :global(.__wab_flex-container) > *,
.freeBox__bozuU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bozuU > :global(.__wab_flex-container) > picture > img,
.freeBox__bozuU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 219px;
}
.text___2Ud6F {
  margin-left: calc(61px + 219px) !important;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: 18px;
  display: none;
}
.text__eQmM {
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 17px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 500;
  display: none;
}
.freeBox__xoX1Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 723px;
  height: auto;
  max-width: 723%;
  min-width: 723px;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  padding: 0px;
}
.freeBox__vkTwU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text___8AJof {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__mHvRr {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 111px;
  flex-shrink: 0;
}
.supplier {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  background: none;
  flex-shrink: 0;
}
.slotTargetDate {
  font-weight: 400;
  text-align: left;
}
.freeBox__hZw1R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__fDBnW {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__owLxs {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.shipmentmode {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetValue {
  font-weight: 400;
  text-align: left;
}
.freeBox__qfix4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__xD4Ms {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__laAn6 {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  flex-shrink: 0;
}
.origincountry {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetAwbbl {
  font-weight: 400;
  text-align: left;
}
.freeBox__qEOme {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__gn7K9 {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__x1Qku {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.sap {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetQty {
  font-weight: 400;
  text-align: left;
}
.freeBox__w1XtY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__yD5Ox {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__fzXzz {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  flex-shrink: 0;
}
.grn {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetGross {
  font-weight: 400;
  text-align: left;
}
.freeBox___8CCnY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__uhoVi {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text___6Uuuh {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.creditnotevalue {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetVolume {
  font-weight: 400;
  text-align: left;
}
.freeBox__aqpA4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__k8GU3 {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__vyXvt {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.creditnotevalue2 {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetEta {
  font-weight: 400;
  text-align: left;
}
.consent:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(14px + 0px) !important;
  margin-left: 68px;
}
.freeBox__oUpwa {
  width: 723px;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__oUpwa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 219px);
  width: calc(100% + 219px);
}
.freeBox__oUpwa > :global(.__wab_flex-container) > *,
.freeBox__oUpwa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oUpwa > :global(.__wab_flex-container) > picture > img,
.freeBox__oUpwa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 219px;
}
.text___8J6Eg {
  margin-left: calc(61px + 219px) !important;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: 18px;
}
.text__aPzfM {
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 17px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__neyS {
  width: 723px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
}
.freeBox__neyS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 608px);
  width: calc(100% + 608px);
}
.freeBox__neyS > :global(.__wab_flex-container) > *,
.freeBox__neyS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__neyS > :global(.__wab_flex-container) > picture > img,
.freeBox__neyS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 608px;
}
.text___3ZqSv {
  margin-left: calc(94px + 608px) !important;
  max-width: 274px;
  min-width: 274px;
  width: 259px;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 14px;
  height: auto;
  flex-shrink: 0;
}
.text__blgwc {
  margin-left: calc(-565px + 608px) !important;
  width: 274px;
  min-width: 274px;
  max-width: 274px;
  padding-right: 14px;
  position: relative;
  height: auto;
  flex-shrink: 0;
}
.freeBox__eFe0T {
  width: 723px;
  max-width: none;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  flex-direction: row;
  height: auto;
  display: none;
  padding: 0px;
}
.freeBox__eFe0T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
}
.freeBox__eFe0T > :global(.__wab_flex-container) > *,
.freeBox__eFe0T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eFe0T > :global(.__wab_flex-container) > picture > img,
.freeBox__eFe0T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
}
.freeBox__gEyE {
  width: 366px;
  max-width: 366px;
  min-width: 366px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  flex-shrink: 0;
  padding: 0px;
}
.text__eMcoZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-left: 29px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__elplS {
  margin-left: 59px;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__elplS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__elplS > :global(.__wab_flex-container) > *,
.freeBox__elplS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__elplS > :global(.__wab_flex-container) > picture > img,
.freeBox__elplS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__tlFi1 {
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__b4Ygz {
  max-width: 220px;
  min-width: 220px;
  width: 220px;
  height: auto;
  flex-shrink: 0;
}
.freeBox__fusLg {
  border-left-style: solid;
  border-left-width: 1px;
  width: 353px;
  min-width: 353px;
  max-width: 353px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  flex-shrink: 0;
  padding: 0px;
}
.text__mQvax {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-left: 29px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__r9R1V {
  margin-left: 59px;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__r9R1V > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__r9R1V > :global(.__wab_flex-container) > *,
.freeBox__r9R1V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r9R1V > :global(.__wab_flex-container) > picture > img,
.freeBox__r9R1V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__hfPyy {
  min-width: 220px;
  max-width: 220px;
  width: 220px;
  height: auto;
  flex-shrink: 0;
}
.freeBox__grAc {
  justify-content: center;
  align-items: center;
  width: 723px;
  min-width: 723px;
  max-width: 723%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  position: relative;
  flex-direction: column;
  height: auto;
  display: none;
  padding: 0px;
}
.freeBox___6Zi3F {
  max-width: none;
  width: auto;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  background: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text___0U2Ov {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__ozLSf {
  max-width: none;
  width: 97px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__yFn3A {
  max-width: none;
  width: 284px;
  border-right-style: solid;
  border-right-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__dukuA {
  max-width: none;
  width: 66px;
  border-right-style: none;
  border-right-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text___330Oy {
  max-width: none;
  width: 104px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
  border-width: 1px;
}
.text__dfYKr {
  max-width: none;
  width: 110px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.freeBox__nnIpI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zgk9H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.text__nRpBf {
  font-size: 14px;
  border-right-style: none;
  border-right-width: 1px;
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text___8D15A {
  width: 97px;
  height: auto;
  max-width: 97px;
  text-align: center;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  min-width: 97px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text__eMlP {
  max-width: 284px;
  width: 284px;
  height: auto;
  text-align: center;
  padding-right: 8px;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  min-width: 284px;
  position: relative;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
  border-width: 1px;
}
.text__y1ZD {
  width: 66px;
  height: auto;
  max-width: 66px;
  text-align: center;
  font-size: 14px;
  min-width: 66px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
  border-style: none;
}
.text__rC9Sm {
  width: 104px;
  height: auto;
  max-width: 104px;
  text-align: center;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  min-width: 104px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text___0SER {
  width: 110px;
  height: auto;
  max-width: 110px;
  text-align: center;
  font-size: 14px;
  min-width: 110px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox___0Rfv8 {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__xOut7 {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__efTnE {
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__djyng {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__uSxXt {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__sYfD {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__pyT8A {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__k47Yz {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__eAfbu {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__lNBru {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text___51S5X {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__gs72D {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__vMn3J {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__bas6B {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox___1Rf2J {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__euEtQ {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__pSlIc {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__yAgb4 {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__p6N8Z {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__zRq44 {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__t6OVk {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__jKqvx {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__jKqvx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__jKqvx > :global(.__wab_flex-container) > *,
.freeBox__jKqvx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jKqvx > :global(.__wab_flex-container) > picture > img,
.freeBox__jKqvx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__n4Qat {
  width: 723px;
  min-width: 723px;
  max-width: 723px;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  padding: 0px 5px 0px 0px;
}
.freeBox__n4Qat > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__n4Qat > :global(.__wab_flex-container) > *,
.freeBox__n4Qat > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n4Qat > :global(.__wab_flex-container) > picture > img,
.freeBox__n4Qat
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__mUk4G {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.text__kzMEa {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__bp9T7 {
  width: 723px;
  height: auto;
  min-width: 723px;
  max-width: 723px;
  flex-direction: row;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  position: relative;
  padding: 0px 5px 0px 0px;
}
.freeBox__bp9T7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__bp9T7 > :global(.__wab_flex-container) > *,
.freeBox__bp9T7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bp9T7 > :global(.__wab_flex-container) > picture > img,
.freeBox__bp9T7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.text__fcAbJ {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.text__c5JQz {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__im8Yg {
  width: 723px;
  height: auto;
  min-width: 723px;
  max-width: 723px;
  flex-direction: row;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  position: relative;
  padding: 0px 5px 0px 0px;
}
.freeBox__im8Yg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__im8Yg > :global(.__wab_flex-container) > *,
.freeBox__im8Yg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__im8Yg > :global(.__wab_flex-container) > picture > img,
.freeBox__im8Yg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.text__z7RPh {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.text__oBtOm {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.formbutton:global(.__wab_instance) {
  left: auto;
  top: auto;
  margin-left: -145px;
  margin-top: calc(27px + 0px) !important;
  position: relative;
  align-self: auto;
}
.text__g2SGa {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: 293px;
  top: 214px;
  text-align: center;
  font-size: 50px;
  min-width: 0;
  display: none;
}
.text__loading__g2SGaqts2B {
  display: block;
}
.text__notfound__g2SGAoAGbJ {
  display: block;
}
.text__confirmed__g2SGAuViL {
  display: block;
}
