.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.text___8TsS7 {
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Inria Sans", sans-serif;
  background: #e4dada;
  min-width: 0;
}
.applicationForm {
  background: rgba(255, 255, 255, 1);
  width: 1388px;
  height: 594px;
  display: block;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox__zponD {
  top: -3px;
  left: 46px;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 1249px;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: none;
}
.freeBox__zponD > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__zponD > :global(.__wab_flex-container) > *,
.freeBox__zponD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zponD > :global(.__wab_flex-container) > picture > img,
.freeBox__zponD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox___8LufF {
  align-items: center;
  justify-content: flex-start;
  width: 723px;
  align-self: auto;
  margin-top: calc(22px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-style: solid;
  border-left-width: 1px;
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__gewWb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 21px;
}
.text__l4Ro {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__y4Hq1 {
  margin-top: -7px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lRkiI {
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 700;
}
.freeBox__jnRrA {
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  position: relative;
  width: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetPono {
  font-size: 24px;
  font-weight: 700;
}
.freeBox__zMf9C {
  width: 723px;
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__zMf9C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 219px);
  width: calc(100% + 219px);
}
.freeBox__zMf9C > :global(.__wab_flex-container) > *,
.freeBox__zMf9C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zMf9C > :global(.__wab_flex-container) > picture > img,
.freeBox__zMf9C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 219px;
}
.text__ieet7 {
  margin-left: calc(61px + 219px) !important;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: 18px;
  display: none;
}
.text__wqWlN {
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 17px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 500;
  display: none;
}
.freeBox__y4Mdc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 723px;
  height: auto;
  max-width: 723%;
  min-width: 723px;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  padding: 0px;
}
.freeBox__qkQhz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__fZupo {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__xVoQo {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 111px;
  flex-shrink: 0;
}
.supplier {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  background: none;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-weight: 900;
  text-align: left;
}
.freeBox__iZwuY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__wcxpG {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__vfWf5 {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.shipmentmode {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetSlot {
  font-weight: 600;
  text-align: left;
}
.freeBox__v2ULp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__hfFt {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__xRnQg {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  flex-shrink: 0;
}
.origincountry {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetSlot2 {
  font-weight: 600;
  text-align: left;
}
.freeBox__s3Nvt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text___84I7H {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__aqu6R {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.sap {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetSlot3 {
  font-weight: 600;
  text-align: left;
}
.freeBox___1U569 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__altQg {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__oug2R {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  flex-shrink: 0;
}
.grn {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetSlot4 {
  font-weight: 600;
  text-align: left;
}
.freeBox__iY4Jb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text___9Qzu9 {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 274px;
  min-width: 274px;
  padding-left: 10px;
  flex-shrink: 0;
}
.text__epal {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.creditnotevalue {
  position: relative;
  width: 413px;
  height: auto;
  min-width: 413px;
  max-width: 413px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetSlot5 {
  font-weight: 600;
  text-align: left;
}
.freeBox__aiMKe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 0px;
}
.text__emJq {
  position: relative;
  width: 491px;
  height: auto;
  padding-left: 10px;
  min-width: 491px;
  max-width: 491px;
  flex-shrink: 0;
}
.text___7FFoH {
  position: relative;
  width: 11px;
  height: auto;
  text-align: center;
  min-width: 11px;
  max-width: 11px;
  flex-shrink: 0;
}
.balance2 {
  position: relative;
  width: 20px;
  height: auto;
  text-align: left;
  padding-left: 12px;
  font-weight: 600;
  min-width: 20px;
  max-width: 20px;
  flex-shrink: 0;
}
.balance {
  position: relative;
  width: 196px;
  height: auto;
  text-align: left;
  padding-left: 12px;
  font-weight: 600;
  flex-shrink: 0;
}
.consent:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(14px + 0px) !important;
  margin-left: 68px;
}
.freeBox___0Tto4 {
  width: 723px;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox___0Tto4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 219px);
  width: calc(100% + 219px);
}
.freeBox___0Tto4 > :global(.__wab_flex-container) > *,
.freeBox___0Tto4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Tto4 > :global(.__wab_flex-container) > picture > img,
.freeBox___0Tto4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 219px;
}
.text__hZLq {
  margin-left: calc(61px + 219px) !important;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: 18px;
}
.text__dG7Aj {
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 17px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__eOd31 {
  width: 723px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
}
.freeBox__eOd31 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 608px);
  width: calc(100% + 608px);
}
.freeBox__eOd31 > :global(.__wab_flex-container) > *,
.freeBox__eOd31 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eOd31 > :global(.__wab_flex-container) > picture > img,
.freeBox__eOd31
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 608px;
}
.text___8T728 {
  margin-left: calc(94px + 608px) !important;
  max-width: 274px;
  min-width: 274px;
  width: 259px;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 14px;
  height: auto;
  flex-shrink: 0;
}
.text__q3XHf {
  margin-left: calc(-565px + 608px) !important;
  width: 274px;
  min-width: 274px;
  max-width: 274px;
  padding-right: 14px;
  position: relative;
  height: auto;
  flex-shrink: 0;
}
.freeBox__v71 {
  width: 723px;
  max-width: none;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  flex-direction: row;
  height: auto;
  display: none;
  padding: 0px;
}
.freeBox__v71 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
}
.freeBox__v71 > :global(.__wab_flex-container) > *,
.freeBox__v71 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v71 > :global(.__wab_flex-container) > picture > img,
.freeBox__v71
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
}
.freeBox___10R {
  width: 366px;
  max-width: 366px;
  min-width: 366px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  flex-shrink: 0;
  padding: 0px;
}
.text__lao3K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-left: 29px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__i6HTm {
  margin-left: 59px;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__i6HTm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__i6HTm > :global(.__wab_flex-container) > *,
.freeBox__i6HTm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i6HTm > :global(.__wab_flex-container) > picture > img,
.freeBox__i6HTm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__zhbnD {
  width: auto;
  height: auto;
  max-width: 800px;
}
.text__suTjw {
  max-width: 220px;
  min-width: 220px;
  width: 220px;
  height: auto;
  flex-shrink: 0;
}
.freeBox___8Xsno {
  border-left-style: solid;
  border-left-width: 1px;
  width: 353px;
  min-width: 353px;
  max-width: 353px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  flex-shrink: 0;
  padding: 0px;
}
.text__xaoJj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-left: 29px;
  font-size: 18px;
  font-weight: 500;
}
.freeBox___4Iwqc {
  margin-left: 59px;
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___4Iwqc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___4Iwqc > :global(.__wab_flex-container) > *,
.freeBox___4Iwqc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Iwqc > :global(.__wab_flex-container) > picture > img,
.freeBox___4Iwqc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__hqPKm {
  min-width: 220px;
  max-width: 220px;
  width: 220px;
  height: auto;
  flex-shrink: 0;
}
.freeBox__nn9O3 {
  justify-content: center;
  align-items: center;
  width: 723px;
  min-width: 723px;
  max-width: 723%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  position: relative;
  flex-direction: column;
  height: auto;
  display: none;
  padding: 0px;
}
.freeBox___2GtPf {
  max-width: none;
  width: auto;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  background: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text__ew770 {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__mUb1D {
  max-width: none;
  width: 97px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__xitpU {
  max-width: none;
  width: 284px;
  border-right-style: solid;
  border-right-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__v3Sb {
  max-width: none;
  width: 66px;
  border-right-style: none;
  border-right-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.text__eiWs {
  max-width: none;
  width: 104px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
  border-width: 1px;
}
.text__xjzmt {
  max-width: none;
  width: 110px;
  position: relative;
  height: auto;
  text-align: center;
  flex-shrink: 0;
  margin: 0px;
}
.freeBox__mZjP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cB2Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.text___5FiMz {
  font-size: 14px;
  border-right-style: none;
  border-right-width: 1px;
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__mNje {
  width: 97px;
  height: auto;
  max-width: 97px;
  text-align: center;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  min-width: 97px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text__i3Ah0 {
  max-width: 284px;
  width: 284px;
  height: auto;
  text-align: center;
  padding-right: 8px;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  min-width: 284px;
  position: relative;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
  border-width: 1px;
}
.text__uyM00 {
  width: 66px;
  height: auto;
  max-width: 66px;
  text-align: center;
  font-size: 14px;
  min-width: 66px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
  border-style: none;
}
.text__rcQq4 {
  width: 104px;
  height: auto;
  max-width: 104px;
  text-align: center;
  font-size: 14px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  min-width: 104px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-width: 1px;
}
.text__hcG2G {
  width: 110px;
  height: auto;
  max-width: 110px;
  text-align: center;
  font-size: 14px;
  min-width: 110px;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__u0PBd {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__csI85 {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__fiq5H {
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__u2VhO {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__lssQm {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__rluUq {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text___1QnS {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__g2IrI {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__eKjq6 {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text___1ZAeJ {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__hOfyv {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__eUk8P {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__a8KAu {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__y9Clp {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__olgOy {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text___6AhL8 {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 60px;
  text-align: center;
  min-width: 60px;
  flex-shrink: 0;
  margin: 0px;
}
.text__ev9E {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__seOt {
  position: relative;
  width: 556px;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-left: 8px;
  flex-shrink: 0;
  margin: 0px;
}
.text__kkFfv {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__kQVuI {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.text__gyPmf {
  position: relative;
  width: 190px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__z2Vg {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__z2Vg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__z2Vg > :global(.__wab_flex-container) > *,
.freeBox__z2Vg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z2Vg > :global(.__wab_flex-container) > picture > img,
.freeBox__z2Vg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__fGbUe {
  width: 723px;
  min-width: 723px;
  max-width: 723px;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  padding: 0px 5px 0px 0px;
}
.freeBox__fGbUe > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__fGbUe > :global(.__wab_flex-container) > *,
.freeBox__fGbUe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fGbUe > :global(.__wab_flex-container) > picture > img,
.freeBox__fGbUe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__z3Dhs {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.text__vdG5L {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__izVs {
  width: 723px;
  height: auto;
  min-width: 723px;
  max-width: 723px;
  flex-direction: row;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  position: relative;
  padding: 0px 5px 0px 0px;
}
.freeBox__izVs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__izVs > :global(.__wab_flex-container) > *,
.freeBox__izVs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__izVs > :global(.__wab_flex-container) > picture > img,
.freeBox__izVs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.text__zxi7 {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.text__lwb2I {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__uFhnd {
  width: 723px;
  height: auto;
  min-width: 723px;
  max-width: 723px;
  flex-direction: row;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  position: relative;
  padding: 0px 5px 0px 0px;
}
.freeBox__uFhnd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__uFhnd > :global(.__wab_flex-container) > *,
.freeBox__uFhnd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uFhnd > :global(.__wab_flex-container) > picture > img,
.freeBox__uFhnd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.text__xu3Qq {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  margin-left: calc(0px + 0px) !important;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.text__bSla7 {
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 0px) !important;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  text-align: center;
  flex-shrink: 0;
  padding: 0px;
}
.formbutton:global(.__wab_instance) {
  left: auto;
  top: auto;
  margin-left: -145px;
  margin-top: calc(27px + 0px) !important;
  position: relative;
  align-self: auto;
}
.text__qJBg {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: 293px;
  top: 214px;
  text-align: center;
  font-size: 50px;
  min-width: 0;
  display: none;
}
.text__loading__qJBgnqWfg {
  display: block;
}
.text__notfound__qJBgmPOd {
  display: block;
}
.text__confirmed__qJBgOk5D2 {
  display: block;
}
