.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.text__m0Lqc {
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background: #e0e0e0;
  min-width: 0;
}
.applicationForm {
  background: rgba(255, 255, 255, 1);
  width: 1388px;
  height: 594px;
  display: block;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.applicationFormdisplayId {
  box-shadow: 0px 4px 16px 0px #00000033;
}
.freeBox__tyPfi {
  display: block;
  position: absolute;
  width: 1396px;
  height: 126px;
  max-width: 100%;
  background: #f7f7f7;
  left: 3px;
  top: -1px;
  padding: 8px;
}
.walletmount:global(.__wab_instance) {
  position: absolute;
  top: 49px;
  left: 1015px;
}
.frame3 {
  width: 227px;
  height: 52px;
  display: block;
  position: absolute;
  left: 54px;
  top: 44px;
}
.graphiteLogo2 {
  background: url("./../project5162/images/graphiteLogo3.jpeg") center center / cover no-repeat;
  width: 227px;
  height: 58px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__jySyg {
  display: block;
  font-size: 10px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: -2px;
  left: 50px;
  width: 173px;
}
.freeBox__xkTbv {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  left: 247px;
  top: 69px;
  background: none;
  width: 893px;
  border-radius: 20px;
  padding: 0px;
}
.freeBox__xkTbv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__xkTbv > :global(.__wab_flex-container) > *,
.freeBox__xkTbv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xkTbv > :global(.__wab_flex-container) > picture > img,
.freeBox__xkTbv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.freeBoxdisplayId__xkTbvXa4I6 {
  display: none;
}
.freeBoxnotfound__xkTbvvnAI {
  left: 250px;
}
.freeBox___23Pex {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  background: #e2e5db;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 2px solid #ffffff;
}
.freeBox___23Pex > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox___23Pex > :global(.__wab_flex-container) > *,
.freeBox___23Pex > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___23Pex > :global(.__wab_flex-container) > picture > img,
.freeBox___23Pex
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.freeBox__vYMh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 40px) !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #707e83;
  min-width: 0;
  padding: 8px;
}
.text__rsacx {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-right: 0px;
  color: #ffffff;
}
.tokenno:global(.__wab_instance) {
  max-width: 100%;
  width: 390px;
  height: 64px;
  flex-shrink: 0;
}
.svg__gzTvI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___14Bym {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.verifyidbutton {
  position: relative;
  max-width: 167px;
  width: 436px;
  height: 50px;
  background: none;
  margin-bottom: 19px;
  margin-top: calc(0px + 40px) !important;
  margin-right: 0px;
  margin-left: 0px;
  color: #707e83;
  text-align: center;
  flex-shrink: 0;
  border-radius: 15px;
  padding: 0px;
  border: 2px solid #707e83;
}
.root .verifyidbutton:hover {
  color: #ffffff;
  background: #707e83;
  margin-top: calc(0px + 40px) !important;
}
.text___4TZsj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 20px;
  font-weight: 700;
  display: none;
}
.textnotfound___4TZsJvnAI {
  left: auto;
  top: auto;
  align-self: auto;
  font-family: "Open Sans", sans-serif;
  display: block;
}
.idstack {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 742px;
  height: 300px;
  max-width: 100%;
  left: 315px;
  top: 72px;
  box-shadow: 0px 4px 16px 0px #e0e0e0 /* plasmic-token: LIdMPRpET */;
  background: #ffffff;
  border-radius: 0px;
  padding: 0px;
  border: 2px none #ffffff;
}
.idstackdisplayId {
  display: flex;
}
.text__o3Gr6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #15b2b8;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
}
.freeBox___4JtSl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 669px;
  height: 230px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__cAjeo {
  display: flex;
  position: relative;
  margin-top: 48px;
  width: 150px;
  height: 182px;
  min-width: 150px;
  min-height: 182px;
  max-width: 150px;
  max-height: 182px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.freeBox__gMzA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__gMzA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__gMzA > :global(.__wab_flex-container) > *,
.freeBox__gMzA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gMzA > :global(.__wab_flex-container) > picture > img,
.freeBox__gMzA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text___3NyQl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #535353;
  text-decoration-line: underline;
  font-family: "Open Sans", sans-serif;
}
.freeBox__bvHml {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__h8CVh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text__ww3Lc {
  position: relative;
  width: 250px;
  height: auto;
  max-width: 250px;
  min-width: 250px;
  padding-left: 94px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text___2A37F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__j2Y06 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 0px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
}
.slotTargetNationality {
  font-weight: 400;
  color: #535353;
  font-family: "Open Sans", sans-serif;
}
.freeBox__iYx6L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__yw2Rp {
  position: relative;
  width: 250px;
  height: auto;
  max-width: 250px;
  min-width: 250px;
  padding-left: 94px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__hzag4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__yftH9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 0px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
}
.slotTargetName {
  font-weight: 400;
  color: #535353;
}
.freeBox__kyzOe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text__ylFn {
  position: relative;
  width: 250px;
  height: auto;
  max-width: 250px;
  min-width: 250px;
  padding-left: 94px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__w4Ht3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__xWiVr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 0px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
}
.slotTargetDocno {
  font-weight: 400;
  color: #535353;
  font-family: "Open Sans", sans-serif;
}
.freeBox__jZShn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__pupwj {
  position: relative;
  width: 250px;
  height: auto;
  max-width: 250px;
  min-width: 250px;
  padding-left: 94px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text___6BTzR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__jQoPe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 0px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
}
.slotTargetDob {
  font-weight: 400;
  color: #535353;
  font-family: "Open Sans", sans-serif;
}
.freeBox__wpCe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text__tufEc {
  position: relative;
  width: 250px;
  height: auto;
  max-width: 250px;
  min-width: 250px;
  padding-left: 94px;
  font-family: "Open Sans", sans-serif;
  color: #535353;
  flex-shrink: 0;
}
.text___18Bpw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__dsSsV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 0px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
}
.slotTargetIssued {
  font-weight: 400;
  color: #535353;
  font-family: "Open Sans", sans-serif;
}
.freeBox__sq35 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__irrO7 {
  position: relative;
  width: 250px;
  height: auto;
  max-width: 250px;
  min-width: 250px;
  padding-left: 94px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__mg0A {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__qkNYb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 0px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
}
.slotTargetExpiry {
  font-weight: 400;
  color: #535353;
  font-family: "Open Sans", sans-serif;
}
.freeBox__zG60I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #e0e0e0;
  min-width: 0;
  padding: 0px;
}
.text__zzwPb {
  position: relative;
  width: 250px;
  height: auto;
  max-width: 250px;
  min-width: 250px;
  padding-left: 94px;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0;
}
.text__nPGq3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__rqglL {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-right: 0px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
}
.slotTargetSex {
  font-weight: 400;
  color: #535353;
  font-family: "Open Sans", sans-serif;
}
.text__nG4S9 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  left: 659px;
  top: 74px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
