.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Inria Sans", sans-serif;
  background: #e4dada;
  min-width: 0;
}
.applicationForm {
  background: rgba(255, 255, 255, 1);
  width: 1388px;
  height: 594px;
  display: block;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.dashboard:global(.__wab_instance) {
  position: absolute;
  top: 100px;
  left: 110px;
}
.freeBox {
  display: block;
  position: absolute;
  width: 1020px;
  height: 4px;
  max-width: 100%;
  left: 193px;
  top: 75px;
  background: #000000;
  padding: 0px;
}
.tabs {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 30px;
  left: 516px;
  padding: 0px;
}
.tabs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.tabs > :global(.__wab_flex-container) > *,
.tabs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabs > :global(.__wab_flex-container) > picture > img,
.tabs > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.returntab:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 180px;
  flex-shrink: 0;
}
